@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300&family=Roboto+Mono:wght@300&display=swap');

*{
 margin:0;
 padding:0;  
 box-sizing: border-box;   
}
body{
    background-image: url(paisagem.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Kantumruy Pro', sans-serif;
    color:#f8f1f1
}
.headaer_principal{
    height: 80px;
    background-color: #78A3E4;
    opacity: 90%;
}
.headaer_principal_coisas{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-right: 10px;
    padding: 5px;
    align-items: center;
    
}
.menu{
    height: 30px;
    width: 30px;
    margin-right: 350px;
}
.mundo{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.clima{
    margin: 30px 0px 30px 70px;
    width: 1449px;
    height: 680px;
    border-radius: 43px;
    background: rgba(66, 91, 129, 0.63);

}
.itens_clima{
    display: flex;
    margin: 0px 100px 0px 100px;
    padding: 40px;
}
.chuva{
    width: 238px;
    height: 238px;
}
.temperatura{
    margin-top: 58px;
    font-size: 94px;
}
.chuvoso{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     justify-content: space-between;
     gap: 13px;
}
.caracteristicas{
    margin-top: 20px;
    margin-left: 5px
}
.caracteristicas_imagens{
    width: 30px;
    height: 30px;
    margin-left: 13px;

}
.caracteristicas_gerais{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 20px;
}
.chuvoso_img{
    width: 50px;
    height: 50px;
}
.previsoes{
    margin-left: 23px;
    width: 1402px;
    height: 331px;
    border-radius: 43px;
    background: rgba(131, 172, 234, 0.63);
    
}
.previsoes_caracteristicas{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 130px;
    font-size: 48px;
    margin-left: 93px;
}
.img_previsoes{
    margin-top: 40px;
}
.geral_previsoes{
    display: flex;
    flex-direction: row;
}
.lua{
    width: 100px;
    height: 100px;
    margin-bottom: 34px;
}
.nuvem{
    width: 125px;
    height: 125px;
    margin-bottom:6px ;
}
input{
    background-color: #78A3E4;
    border: none;
    font-family: 'Kantumruy Pro', sans-serif;
    color:#f8f1f1;
    font-size: 42px;
}
.lupa{
    height: 30px;
    border: none;
    background-color: #78A3E4;
}
.btn{
    border: none;
    background-color: #78A3E4;
}