@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&family=Kantumruy+Pro:wght@200&display=swap');
@import url(carrosel.css);

:root {
    --cor-fundo: #001C30;
    --cor-primaria: #64CCC5;
    --cor-texto: #DAFFFB;
    --cor-segundaria: #176B87;
    --cor-tercearia: #253a5c;
    --cor-rodape: #16344A;
    --cor-top: #01111f;
    --cor-azul-claro: #50B6E2;
    --cor-azul-escuro: #001C30;
    --cor-fundo-linguagens: #8D8C9D;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    height: 2rem;
}

main {
    display: flex;
    padding: 1%;
    justify-content: center;
}

header {
    padding: 0% 0% 0% 0%;

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: var(--cor-top);

}

.cabecalho_link {
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
    padding: 3%;
    font-size: 2rem;
    align-items: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-texto);

}

.cabecalho_link:hover {
    transition: 0.5s;
    color: var(--cor-primaria);
}

.corpoprincipal {
    align-items: center;
    display: flex;
    justify-content: start;
    padding: 1%;
}

.conteudo_principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: left;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.apresentacao {

    align-items: start;
}

.titulo_principal_home {
    left: 2%;
    font-size: 6rem;
    font-family: K2D;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    width: fit-content;
    height: fit-content;
    color: var(--cor-texto);
    font-size: 6rem;
    text-align: start;
    padding: 0.0007%;
    align-items: start;
    margin-top: 6%;
    margin-right: 3.75rem;
}


.paragrafo_principal_home {
    width: fit-content;
    color: var(--cor-texto);
    font-size: 2.25rem;
    text-align-last: left;
    padding: 2%;
    width: 44.4375rem;
    height: 11.25rem;
    margin-right: 6.875rem;
    display: flex;
    text-align: justify;
    /* bottom: 4em; */

}

.imagens_programacao {
    margin-left: 1.0625rem;

}


/* sobre mim  */
.inicio_sobre_mim {
    display: flex;
    flex-direction: column;
}

.corpo_principal {
    display: flex;
    flex-direction: column;
}

.titulo_about {
    display: flex;
    justify-content: center;
    text-align: center;
}

.conteudo_sobre_e_Soft {
    display: flex;
    flex-direction: column;
}

.titulo_soft {
    width: auto;
}

.sobre {
    display: flex;
    margin-bottom: 20em;
}

.conteudo_Sobre {
    display: grid;
    flex-direction: column;
    grid-template-columns: 60% 40%;
}

.sobre_mim_geral {
    display: flex;
    flex-direction: row;
}

.texto_sobre_mim {
    color: #E7EAF1;
    font-family: Kantumruy Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 0.4em;
    width: 60%;
    height: 615px;
    margin-left: 5em;
}

.img_grafo {
    width: 446px;
    height: 446px;
    margin-right: 10em;
}

.botoes {
    display: flex;
    justify-content: space-between;
    justify-content: start;
    gap: 3.75rem;
    top: 39.375rem;

}

.botao {
    font-family: 'Kantumruy Pro', sans-serif;
    display: flex;
    background-color: var(--cor-top);
    border: 0.3rem solid var(--cor-rodape);
    border-radius: 0.17em;
    color: var(--cor-texto);
    font-size: 1.4rem;
    font-weight: 600;
    height: 3.6875rem;
    width: 12.9375rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    bottom: 2.3em;
    margin-bottom: 2em;
}

.icon {
    padding-right: 0.625rem;
}

.botao:hover {
    transition: 0.7s;
    background-color: var(--cor-rodape);
    border: 0.1em solid var(--cor-primaria);
}

.minhafoto {
    border-radius: 8%;
    width: 30rem;
    height: 30rem;
    margin-top: 2.5rem;
    border: 0.5rem solid var(--cor-rodape);
    margin-bottom: 2em;
}

.titulo_linguagens {
    color: var(--cor-azul-claro);
    font-family: K2D;
    font-size: 96px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    margin-bottom: 1em;
}

.linguagens {
    display: flex;
    justify-content: center;
}

.conteudo_linguagens {
    margin-top: 6em;
}

.linguagens_elementos_geral {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 4em;
    margin-left: 4em;
}

.linguagens_elementos {
    justify-content: space-between;
    gap: 129px;
    width: 395px;
    height: 654px;
    background-color: var(--cor-fundo-linguagens);
}

.elemento_titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-family: K2D;
    font-size: 26px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    padding: 1em;
    background-color: var(--cor-fundo-linguagens);
}

.elemento_titulo_linguagem {
    margin-left: 10px;
    background-color: var(--cor-fundo-linguagens);

}

.imagem_linguagens {
    width: 140px;
    height: 140px;
    background-color: var(--cor-fundo-linguagens);
}

.elemento_texto {
    color: #000;
    font-family: Kantumruy Pro;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 1em;
    background-color: var(--cor-fundo-linguagens);
}


.rodape {
    top: 4.4rem;
    padding: 1%;
    font-weight: 600;
    text-align: center;
    font-size: 0.75rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: var(--cor-texto);
    background-color: var(--cor-rodape);
    float: end;
}

.contato_texto {
    font-size: 16px;
}

.img_contato {
    margin: 0.5em 0.5em;
}


.textotoalembreve {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.embreve {
    font-size: 6rem;
    font-family: K2D;
    font-weight: 17.1875rem;
    color: var(--cor-texto);
    font-size: 5.625rem;
    text-align: start;
    align-items: start;
}

.conteudo_projetos {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 1100px;
    height: 800px;
}

.textoembreve {
    width: 43.75rem;
    color: var(--cor-texto);
    font-size: 2.25rem;
    padding: 1.25rem;
    align-items: start;
    right: 0.6em;
    /* border: 1px solid rebeccapurple; */
}

.minegrass {
    left: 32rem;
    bottom: 10em;
    width: 9.375rem;
    height: 9.375rem;
}

.blocoterra {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width:480px) {}

@media screen and (min-width: 1024) {}